{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}"></div>

    <div class="container-fluid tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                About Digicraft
            </h2>
        </div>
        <div class="row tm-mb-74 tm-row-1640">            
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="{% static 'img/about.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4">
                        Digicraft is a web-development and marketing company. We are
                        passionate about crafting exceptional digital experiences
                        that resonate with your audience. As your trusted partner,
                        we offer a comprehensive suite of services designed to
                        elevate your online presence and drive business growth.
                    </p>
                </div>                
            </div>
        </div>
        <div class="row tm-mb-50">
            <div class="col-md-6 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        Our Mission
                    </h2>
                    <p class="mb-4">
                        Our mission is to deliver exceptional web development solutions that drive digital transformation for our clients. We foster growth and success through innovative technology while maintaining ethical and sustainable practices. By nurturing a collaborative and innovative culture, we empower our team to create cutting-edge solutions that propel businesses forward in the digital landscape.
                    </p>
                </div>                
            </div> 
            <div class="col-md-6 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        Our Vision
                    </h2>
                    <p class="mb-4">
                        To be the leading digital innovation partner, empowering
                        businesses to thrive in the digital age through cutting-edge
                        web development solutions.
                    </p>
                </div>                
            </div>     
        </div> <!-- row -->
        <div class="row tm-mb-50">
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-globe fa-3x tm-text-primary"></i>
                    </div>                
                    <h2 class="tm-text-primary mb-4">Web Development</h2>
                    <p class="mb-4">
                        Our team of skilled developers specializes in
                        <span class="text-secondary-700"
                        >creating stunning, responsive websites that are not only
                        visually appealing but also optimized for performance and user
                        experience.</span
                        >
                        From custom website design to e-commerce solutions, we have the
                        expertise to bring your vision to life.
                    </p>
                </div>                
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-edit fa-3x tm-text-primary"></i>
                    </div>                
                    <h2 class="tm-text-primary mb-4">Graphic Design</h2>
                    <p class="tm-mb-50">A visually appealing brand identity is crucial for making
                        a lasting impression. Our graphic designers can create
                        <span class="text-secondary-700">stunning logos, branding materials, and other visual
                        assets </span>that align with your brand's personality and
                        messaging.</p>                
                    <div class="text-center">
                        <a href="https://digicraft-wx1n.onrender.com/services/" class="btn btn-primary">Read More</a>
                    </div>
                </div>                
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-shopping-basket fa-3x tm-text-primary"></i>
                    </div>                
                    <h2 class="tm-text-primary mb-4">Digital Marketing</h2>
                    <p class="mb-4">In today's competitive digital landscape, effective
                        marketing is essential. Our digital marketing strategies
                        combine <span class="text-secondary-700">data-driven insights with creative execution</span> to
                        help you reach your target audience and achieve your
                        business goals. We offer services such as <span class="text-secondary-700">search engine
                        optimization (SEO), pay-per-click (PPC) advertising,
                        content marketing, and email marketing.</span></p>
                </div>                
            </div>
        </div>
    </div>
{% endblock %}