{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">{{ video.video_name }}</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <video controls src="{{ video.video.url }}" alt="{{ video.video_name }}" class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <p class="mb-4">
                        {{ video.video_description }}
                    </p>
                    <!-- <div class="text-center mb-5">
                        <a href="{% url 'gallery:download_image' video.id %}" class="btn btn-primary tm-btn-big">Download</a>
                    </div>                     -->
                    <div class="mb-4 d-flex flex-wrap">
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Category: </span><span class="tm-text-primary">{{ video.video_category.name }}</span>
                        </div>
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Location: </span><span class="tm-text-primary">{{ video.video_location.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Related Videos
            </h2>
        </div>
        <div class="row mb-3 tm-gallery">
            {% if related_videos %}
            {% for related_video in related_videos %}
        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <a href="{% url 'gallery:video_detail' related_video.id %}">
                        <video src="{{ related_video.video.url }}" alt="{{ related_video.video_name }}" class="img-fluid">
                    </a>
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{ related_video.video_category.name }}</h2>
                        <a href="{% url 'gallery:video_detail' related_video.id %}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{ related_video.video_location.name }}</span>
                    <span>{{ related_video.video_location.description }}</span>
                </div>
            </div>
            {% endfor %}  
            {% else %}
            <h2 class="col-12 tm-text-primary"><i class="fa-solid fa-database"></i> No related videos found</h2>
            {% endif %}      
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->
{% endblock %}